<html>
    <head>
        <title>Email Verification</title>
    </head>
    <body>
        <h1>Email Verification</h1>
        <input type="email" name="email" class="email" placeholder="Enter email">
        <input type="submit" class="email-submit">
        <h4></h4>
    </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.email-submit').click(function(){
        var email = $('.email').val();
        $.ajax({
            method: 'post',
            url: '/send-mail',
            data: {
                email: email
            },
            success: function(data){
                if(data == 'okk'){
                    $('h4').text('Success...Check your email and verify')
                }else{
                    $('h4').text(data)
                }
            },
            error: function(err){
                $('h4').text(err[0])
            }
        })
    })
</script>